* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

:root {
  --primary-color: #fd6e0a;
  --paragraph-color: #474747;
  --title-color: #181818;
}

img {
  max-width: 100%;
}

.btn {
  font-size: 18px;
  font-weight: bold;
  color: white !important;
  background-color: var(--primary-color);
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
}

.section__title {
  font-size: 35px;
  font-weight: 700;
  color: var(--title-color);
  margin-bottom: 20px;
}

.section__paragraph {
  font-size: 18px;
  color: var(--paragraph-color);
  line-height: 28px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  background-color: #fff8f3;
}

.navigation__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo__area a {
  text-decoration: none;
}

.logo__area a h3 {
  font-size: 45px;
  font-weight: 800;
  color: var(--title-color);
}

.logo__area a h3 span {
  color: var(--primary-color);
}

.menu ul {
  display: flex;
  column-gap: 50px;
  align-items: center;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 18px;
  color: var(--paragraph-color);
}

.nav-btn {
  padding: 18px 35px;
}

.banner__area {
  background: url("./images/header_bg.png");
  background-color: #fff8f3;
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
}

.banner__area > div:first-child {
  position: absolute;
  top: -10%;
  left: 2%;
}

.banner__area > div:first-child img {
  width: 70%;
}

.banner__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner__left {
  width: 45%;
}

.banner__left h3 {
  font-size: 45px;
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 10px;
}

.banner__left h2 {
  font-size: 70px;
  font-weight: 600;
  color: var(--title-color);
  margin-bottom: 20px;
}

.banner__left p {
  font-size: 18px;
  color: var(--paragraph-color);
  line-height: 30px;
  margin-bottom: 20px;
}

.banner__btn button {
  padding: 15px;
  cursor: pointer;
}

.banner__btn button:last-child {
  background-color: transparent;
  outline: 1px solid var(--primary-color);
  color: var(--primary-color) !important;
  margin-left: 10px;
}

.banner__right {
  width: 45%;
  position: relative;
}

.about__area {
  padding: 100px 0;
}

.about__content {
  text-align: center;
  background-color: #FFF8F3;
  padding: 100px 120px;
  border-radius: 10px;
}

.about__info {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.info__card h4 {
  color: #474747;
}

.skill__area {
  padding: 50px 0;
}

.skill__content {
  text-align: center;
}

.skill__showcase {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.skill__card {
  background-color: white;
  border-radius: 5px;
  padding: 30px;
  text-align: left;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}

.skill__icon {
  margin-bottom: 10px;
}

.skill__title {
  font-size: 20px;
  font-weight: 700;
  color: var(--title-color);
  margin-bottom: 10px;
}

.resume__area {
  padding: 50px 0;
}

.resume__content {
  text-align: center;
}

.skill__description {
  font-size: 15px !important;
}

.resume__showcase {
  display: flex;
  column-gap: 30px;
  margin-top: 100px;
}

.experience__heading {
  margin-bottom: 30px;
  text-align: left;
  color: var(--paragraph-color);
  font-size: 30px;
  font-weight: bold;
}

.experience__detail {
  text-align: left;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #D1D1D1;
  margin-bottom: 30px;
}

.experience__title {
  font-size: 22px;
  font-weight: 700;
  color: var(--paragraph-color);
  margin-bottom: 10px;
}

.experience__sub__title {
  font-size: 18px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 10px;
}

.experience__desc {
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}

.resume__button {
  text-align: center;
  margin-top: 10px;
}

.resume__button button {
  padding: 17px;
}